body {
  font-family: Arial, sans-serif;
  background: #f3f5ff;
  text-align: center;
  padding: 50px;
  direction: ltr;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

form {
  background: white;
  padding: 80px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
  text-align:center;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

input {
  display: block;
  margin: 8px 0 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

button {
  padding: 10px 25px;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: #005ecb;
}

a {
  text-decoration: none;
  color: #0078ff;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 15px;
}
